.vk {
    padding: 10px;
    text-align: center;
    background: white;
    color: rgb(10, 9, 9);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin-top: 50px;
    position:relative;
        background: url('../img/kenh14.png');
        background-size:100% 100%;
        background-repeat: no-repeat;
        height:0px;
        padding-bottom:25%;
}
.vk h1 {
    font-size: 40px;
}
.vk p {
    font-size: 20px;
}
.vk>header>marquee>strong{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:45px;
    text-shadow: 2px 2px 10px yellow;
    color: #11110f;
}
.banner>a>img{
    width: 100%;
    height: 200px;
}
.topnav {
    overflow: hidden;
    background-color: rgb(82, 135, 145);
}

/* Định dạng link điều hướng */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
/* Thay đổi màu liên kết khi di chuột qua */
.topnav a:hover {
    background-color: rgb(190, 9, 33);
    color: rgb(7, 6, 6);
}
.col-25{
    width:25%;
    float:left;
}
.prod{
    border-radius: 10px;
    box-shadow:0px 0px 5px gray;
    margin: 10px;
    padding: 10px;
    text-align:center;
    position: relative;
 }
.prod>.name{
    font-variant:small-caps;
    color:orangered;

}
.prod>.image{
    max-width:95%;
    height:200px;

}
.prod>.price{
    position:absolute;
    left:5px;
    bottom:5px;
    font-family:Impact;
    font-size:25px;
    color:orange;
}
.prod>.icon1{
    position: absolute;
    right:  5px;
    bottom: 5px;
    width: 30px;
    box-shadow: 0 0 2px black;
    border-radius: 50%;
    width: 9.8%;
}
.prod>.icon2{
    position: absolute;
    right:  5px;
    bottom: 45px;
    width: 30px;
    box-shadow: 0 0 2px black;
    border-radius: 50%;
    width: 9.8%;
}
.prod>.icon3{
    position: absolute;
    right:  5px;
    bottom: 85px;
    width: 30px;
    box-shadow: 0 0 2px black;
    border-radius: 50%;
    width: 9.8%;
}
.prod>.new-icon{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 15%;
}
.footer{
    padding: 5px;
    background:  rgb(82, 135, 145);
    margin-top: 10px;
}
.footer1>h4 {
    text-align: center;
    
}
.footer1{
    float:left;
    width:30%;
}
.footer2{
    float:left;
    width:30%;
}
.footer3{
    float:right;
    width:30%;
}
.footer:after{
    content:"";
    display:table;
    clear:both;
}
.footer1>ul>li{
    list-style: none;
    text-align: justify;
}
.footer2>ul>li{
    list-style: none;
    text-align: justify;
}